# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build artifacts
android/app/build/
ios/build/
.kotlin/

# Local database
db.sqlite3

# Metro
.metro-health-check*

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS / OS junk
.DS_Store
Thumbs.db
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Example app
app-example

# Gradle wrapper (keep these)
!android/gradlew
!android/gradlew.bat
!android/gradle/wrapper/*

# Sensitive keys/certs
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# ShareMenuActivity.java
android/app/src/main/java/com/anonymous/realtimechatexpo/ShareMenuActivity.java
